.cardContainer > :not(img.flipped){
    border:1px solid rgb(255, 255, 255);
    font-size: 5rem;
    display: grid;
    position: relative;
  }

.flipped{
    rotate: z 15deg;
}

.currentCard{
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 1);
}

.letterHover{
    position:absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    margin:0;

    z-index: 1;

    color:aquamarine;
    text-shadow: 0 0 3px black;
    /* border: 1px solid black; */
}