.cardContainer {
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 1);
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.cardFlip {
  animation: cardFlip 1s ease forwards;
}

@keyframes cardFlip {
  0% {
    rotate: 0deg y;
  }
  100% {
    rotate: 180deg y;
  }
}

.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  position: absolute;
  backface-visibility: visible;
  rotate: 180deg y;
}

.flipped{
  opacity: 50%;
  rotate: 180deg y;
}
