* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100vh;
  height: 100svh;
}

h1 {
  margin-block: 1rem;
}

.cardGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 154px);
  grid-template-rows: repeat(auto-fit, 225px);
  justify-content: center;
  /* grid-template-columns: repeat(6, minmax(100px, 1fr)); */
  gap: 1rem;
  margin: 2rem;
}

