#root {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 2rem;
}

.cardRowContainer{
  margin-block: 2rem;
  display:flex;
  justify-content: center;
  gap:2rem;
}