#root {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 2rem;
}

h1 {
  margin-block: 1rem;
}

.cardGrid{
  max-width: 1200px;
  display: grid;
  width: 100vw;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  gap: 1rem;
  margin: 2rem;
}

.cardRowContainer {
  margin-block: .25rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
}
